body{
	background-color: #ececec; 
}

.navbar-inverse{
	border-radius: 0px;
	background-image: none; 
}
.main-text{
	font-family: 'Roboto';
	font-size: 30px;
	text-align: center;
	font-weight: 300;
	margin-bottom: 20px;
	margin-top: 10px;
}
.text-tt{
	margin-bottom: 3px;
	font-size: 16px;
	font-family: 'Roboto';
}

.filter-card{
	background-color: white;
	padding: 10px;
	box-shadow: 1px 1px 2px #ddd;
	border-radius: 5px;
}

.filter-card .form-group{
	margin-bottom: 0px;
}

.all-sells-wrapper{
	max-height: 300px;
	overflow-y: auto;
}

.list-sells{
	margin-top: 20px;
	background-color: white;
	padding: 10px;
	box-shadow: 1px 1px 2px #ddd;
	border-radius: 5px;	
}
@media only screen and (max-width: 600px){
	.filter-card [class^="col-"]{
		margin-bottom: 10px;
	}
}